---
name: user_recover_password
resource: reset_password
resource_owner: anyone
redirect_to: /todo/sign-in
flash_notice: If you provided the right email, we will send you reset password instructions.
fields:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% execute_query 'generate_user_temporary_token', email: form.properties.email, result_name: 'g' %}
  {% if g.user %}
    {% execute_query 'update_password_token', id: g.user.id, token: g.user.temporary_token %}
  {% endif %}
---

<h1>Recover Password</h1>
{% form %}
<div>
  <label for="email">Email
    <input name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value }}" id="email" type="email">
    {% if form_builder.errors.email %}
        <p>{{ form_builder.errors.email }}</p>
    {% endif %}
  </label>
</div>
<div>
  <button type="submit">Recover Password</button>
  <a href="/todo/sign-in">
    <button type="button" class="cancel-button">Cancel</button>
  </a>
</div>
{% endform %}